<div class="card employee-card" style="background-color:#cdefde;">
    <div class="card-header">
        <h2 class="card-title" style="font-family: 'Girassol', cursive;">{{ name }}</h2>
        <h3 class="card-title"style="font-family: 'Girassol', cursive;"><i class="fas fa-user-graduate mr-2" ></i>{{ role }}</h3>
    </div>
    <div class="card-body" style="font-family: 'Comfortaa', cursive;">
        <ul class="list-group">
            <li class="list-group-item"style="background-color:#e0f5eb;">ID: {{ id }}</li>
            <li class="list-group-item"style="background-color:#e0f5eb;">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"style="background-color:#e0f5eb;">School: {{ school }}</li>
        </ul>
    </div>
</div>
