<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Girassol&display=swap" rel="stylesheet">
</head>

<body style="background-color: #efdecd;">
    <div class="container-fluid" style="background: #efdecd;">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading" style= "background-color: #efd8cd;">
                <h1 class="text-center" style="font-family:'Girassol', cursive">My Team</h1>
            </div>
        </div>
    </div>
        <div class="row" style= "background-color: #efdecd;">
            <div class="container">
        <div class="row" style= "background-color: #efdecd;">
            <div class="team-area col-12 d-flex justify-content-center">
                {{ team }}
            </div>
        </div>
    </div>

    <div class="fixed-bottom" style="background-color:#efdecd; text-align: center;">Made by <a href="https://github.com/armcbride" target="_blank">Annaruth McBride</a> &copy 2020</div>
</body>

</html>
